body{
    background-color: #010010;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    align-items: center;
    justify-items: center;
}


#nixie-display {
    display: grid;
    grid-template-columns: repeat(13, 70px);
    font-family: 'Exo', sans-serif;

}


.nixie-tube {
    display: grid;
}

.nixie-tube-num {
    font-size: 92px;
    font-family: 'Exo', sans-serif;
    color:#ff7b63;
    position: relative;
    top:37px;
    left:15px;
    text-align:center;
    opacity: .8;
}



#calculator-wrapper {
    display:grid;
    /* width: 180px; */
    /* top:150px; */
    /* left: 355px; */
     left: -85px; 
    position: relative;
}
#calculator-display {

    text-align:right;
    border:solid lightblue;
    height:20px;
    color: white;
    visibility: hidden;
}


#keyboard-wrapper {
    display:grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(4,60px);;
    grid-gap: 10px;
    align-items: center;
}

.keys {
    border-radius: 5px;
    border:none 1px #00ffd1;
    width:50px;
    height: 50px;
    background-color:#113c4c;
    color: #ff7b63;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    /* text-shadow:0px 1px 2px #fd00fe; */
    box-shadow: 0px 0px 5px #00ffd1;
    touch-action: manipulation;
    
}

.keys:active {

    text-shadow:0px 1px 3px #bdf7f9;
    box-shadow: 0px 0px 7px #00ffd1; 
    font-size: 19px;
    width:48px;
    height:48px;
    background-color:#113c4c;
    border:none 1px #00ffd1;

}

.keys:hover {
    text-shadow:0px 0px 10px #fef900;

}

.keys:focus {
    outline:0;
}

#seven {
    grid-area: 1/1/2/2;
}
#eight {
    grid-area: 1/2/2/3;
}
#nine {
    grid-area: 1/3/2/4;
}
#four {
    grid-area: 2/1/3/2;
}
#five {
    grid-area: 2/2/3/3;
}
#six {
    grid-area: 2/3/3/4;
}
#one {
    grid-area: 3/1/4/2;
}
#two {
    grid-area: 3/2/4/3;
}
#three {
    grid-area: 3/3/4/5;
}
#zero {
    grid-area: 4/1/5/2;
}
#decimal {
    grid-area: 4/2/5/3;
}
#negation {
    grid-area: 4/3/5/4;
}

#buttonide {
    grid-area: 1/5/2/6;
}
#multiply {
    grid-area: 1/6/2/7;
}
#subtract {
    grid-area: 2/5/3/6;
}
#add {
    grid-area: 2/6/3/7;
}

#ans {
    grid-area: 1/8/2/9;
}
#backspace {
    grid-area: 1/9/2/10;
}
#all-clear {
    grid-area: 2/8/3/9;
}
#clear {
    grid-area: 2/9/3/10;
}

#operate {
    grid-area: 4/5/5/10;
    border-radius: 5px;
    width:auto;
}